[%#
  # This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # Copyright (C) 2012 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jollamobile.com>
  #
  # The Initial Developer of the Original Code is "Nokia Corporation"
  # Portions created by the Initial Developer are Copyright (C) 2012 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   David Wilson <ext-david.3.wilson@nokia.com>
  #%]

[% IF bb_common_links.size %]
  <ul id="bb_common_links" class="links bb_common_links">
  [%- FOREACH item IN bb_common_links -%]
    <li>
      [% IF NOT loop.first %]
          <span class="separator">| </span>
      [% END %]
      <a
      [% IF item.id %]
          id="[% item.id FILTER none %]"
      [% END %]
      [% IF item.href %]
          href="[% item.href FILTER html %]"
      [% END %]
      >[% item.text FILTER html %]</a>
    </li>
  [%- END -%]
  </ul>
[% END %]