[%#
  # This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # Copyright (C) 2012 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jollamobile.com>
  #
  # Contributor(s):
  #   David Wilson <ext-david.3.wilson@nokia.com>
  #%]

[%- IF Param('bb_use_debug_js') -%]
    <script type="text/javascript" src="[% 'extensions/BayotBase/web/js/jquery-1.7.1.js' FILTER mtime %]"></script>
    <script type="text/javascript" src="[% 'extensions/BayotBase/web/js/es5-shim.js' FILTER mtime %]"></script>
[%- ELSE -%]
    <script type="text/javascript" src="[% 'extensions/BayotBase/web/js/jquery-1.7.1.min.js' FILTER mtime %]"></script>
    <script type="text/javascript" src="[% 'extensions/BayotBase/web/js/es5-shim.min.js' FILTER mtime %]"></script>
[%- END -%]
<script type="text/javascript" src="page.cgi?[% bb_field_cache_ts FILTER html %]&amp;id=bayotbase/fielddefs.js"></script>
<script type="text/javascript" src="[% 'extensions/BayotBase/web/js/jquery-ui-1.8.18.custom.min.js' FILTER mtime %]"></script>
<script type="text/javascript" src="[% 'extensions/BayotBase/web/js/jquery.cookie.js' FILTER mtime %]"></script>
<script type="text/javascript" src="[% 'extensions/BayotBase/web/js/jquery.jsonrpc.js' FILTER mtime %]"></script>
<script type="text/javascript" src="[% 'extensions/BayotBase/web/js/Base.js' FILTER mtime %]"></script>
<script type="text/javascript" src="[% 'extensions/BayotBase/web/js/bayot.util.js' FILTER mtime %]"></script>
<link type="text/css" rel="stylesheet" href="[% 'extensions/BayotBase/web/css/jquery-ui-1.8.18.custom.css' FILTER mtime %]">
<link type="text/css" rel="stylesheet" href="[% 'extensions/BayotBase/web/css/base.css' FILTER mtime %]">
<script type="text/javascript">var BB_CONFIG = ([% bb_config FILTER none %]);</script>
